#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

#define BASE 0
#define LOWER 1
#define UPPER 2
#define MOUSE 3
#define SCROLL 4

// Pad is mounted rotated 90 degrees: swap X/Y and invert both axes to correct it
#define TRACKPAD_ORIENT (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)



/  {

behaviours {
    
    hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
};

keymap {
    compatible = "zmk,keymap";

default_layer {
display-name = "BASE"; 
// ------------------------------------------------------         ---------------------------------------------
// |  ESC-Q   |    W     |     E     |     R      |  T  |         |  Y  |      U      |     I     |  O  |  P  |
// ------------------------------------------------------         ---------------------------------------------
// |  LGUI-A  |  LALT-S  |  LCTRL-D  |  LSHIFT-F  |  G  |         |  H  |  LSHIFT-J   |  LCTRL-K  |  L  |  ;  |
// ------------------------------------------------------          --------------------------------------------
// |     Z    |     X    |     C     |     V      |  B  |         |  N  |      M      |     ,     |  .  |  /  |
// ------------------------------------------------------         ---------------------------------------------
//                                    | GUI | LWR | SPC |         | ENT | RSE  | ALT |
//                                    -------------------         --------------------

    bindings = <

    &kp N1 &kp N1     &kp N2        &kp N3         &kp N4        &kp N5               &kp N6     &kp N7        &kp N8         &kp N9   &kp N0   &kp BSPC
    &kp G &kp Q   &kp W         &kp E          &kp R         &kp T                &kp Y      &kp U         &kp I          &kp O    &kp P    &kp P
    &kp A &kp  A  &kp  S    &kp  D    &kp  F  &kp G                &kp H      &kp J  &kp  K    &kp L    &kp SEMI &kp L 
    &kp Z &kp Z       &kp X         &kp C          &kp V         &kp B                &kp N      &kp M         &kp COMMA      &kp DOT  &kp FSLH &kp M
                              &kp LGUI      &mo 1         &kp BSPC             &kp SPACE  &mo 2         &kp RALT
    >;
};


lower_layer {
 display-name = "LOWER"; 
// ---------------------------------------   --------------------------------
// |  1 !  |    2 @    | 3 # | 4 $ | 5 % |   | 6 ^ |  7 & | 8 * | 9   |  0  |
// ---------------------------------------   --------------------------------
// |  TAB  |  LGUI(E)  |     | PRNT| CAP |   |  -  |  =   | lbkt| rbkt| ' " |
// ---------------------------------------   --------------------------------
// | delete|           |     | PST | CAD |   |  _  |  +   | lbrc| rbrc|  |  |
// ---------------------------------------   --------------------------------
//                     | GUI | LWR | SPC |   | ENT | RSE  | ALT |
//                     -------------------   --------------------

    bindings = <

    &none &none &none &none &none &none                                                             &none &none &none &none &none &none 
    &none &bt BT_CLR      &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2        &none                                 &none           &none             &none             &none           &none  &none
    &none &kp TAB          &none       &none     &none    &kp CAPS                              &kp MINUS        &kp EQUAL         &kp LBKT         &kp RBKT        &none  &none
    &none &kp DEL          &none       &none     &none         &none                                 &kp UNDER        &kp PLUS          &kp LBRC         &kp RBRC        &none &none
                                 &kp LGUI  &mo 1         &kp RET                               &kp RET          &mo 2             &kp RALT
    >;
    };

raise_layer {
display-name = "UPPER"; 
// ---------------------------------   ----------------------------------------------
// | soft  |     |     | ext | ext |   |        |         |  UP    |         |delete|
// ---------------------------------   ----------------------------------------------
// |  CLR  | bt1 | bt2 | bt3 |     |   |  HOME  |  LEFT   |  DOWN  |  RIGHT  |      |
// ---------------------------------   ----------------------------------------------
// | stdulk|     |     |     |     |   |        |         |        |   END   |      |
// ---------------------------------   ----------------------------------------------
//               | GUI | LWR | SPC |   | ENT | RSE  | ALT | 
//               -------------------   --------------------

    bindings = <
    &none &none &none &none &none &none                                                                        &none &none &none &none &none &none 
    &none &soft_off       &none            &none            &ext_power EP_ON  &ext_power EP_OFF                &none      &none     &kp UP        &none        &none  &none 
    &none &bt BT_CLR      &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2      &none                            &kp HOME   &kp LEFT  &kp DOWN      &kp RIGHT    &none  &none 
    &none &studio_unlock  &none            &none            &none             &none                            &none      &none     &none         &kp END      &none  &none 
                                     &kp LGUI         &mo 1             &kp RET                          &kp RET    &mo 2     &kp RALT
    >;
    };


mouse_layer {
    display-name = "MOUSE";
    // Auto-activated by trackpad movement (see &trackpad_listener below).
    // Left half: S = middle click, D = right click, F = left click, G (hold) = scroll mode
    bindings = <
    &trans &trans &trans        &trans        &trans        &trans              &trans &trans &trans &trans &trans &trans
    &trans &trans &trans        &trans        &trans        &trans              &trans &trans &trans &trans &trans &trans
    &trans &trans &mkp MCLK     &mkp RCLK     &mkp LCLK     &mo SCROLL          &trans &trans &trans &trans &trans &trans
    &trans &trans &trans        &trans        &trans        &trans              &trans &trans &trans &trans &trans &trans
                                &trans        &trans        &trans              &trans &trans &trans
    >;
};

scroll_layer {
    display-name = "SCROLL";
    // Only exists so the listener can switch processors while it is active
    bindings = <
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                  &trans &trans &trans          &trans &trans &trans
    >;
};

extra4 {
            status = "reserved";
        };

extra5 {
            status = "reserved";
        };    
        
extra6 {
            status = "reserved";
        };






};
};

&trackpad_listener {
    // Any trackpad activity switches on the mouse layer for 2 s after the last movement.
    // Cursor speed = &zip_xy_scaler <multiplier> <divisor>  (3 2 = 1.5x faster, 1 2 = half speed)
    input-processors = <&zip_xy_transform TRACKPAD_ORIENT &zip_xy_scaler 1 1 &zip_temp_layer MOUSE 600>;

    // While the scroll layer is active, pad movement becomes scrolling
    scroller {
        layers = <SCROLL>;
        input-processors = <&zip_xy_transform TRACKPAD_ORIENT &zip_xy_to_scroll_mapper &zip_scroll_scaler 1 16>;
    };
};
